@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

/* base.css or global.css */

/* Reserve 2px scrollbar always */
.scroll-hover {
  overflow-y: scroll; /* Always reserve scrollbar space */
  scrollbar-width: none; /* Firefox hides scrollbar */
}

/* Chrome/Edge/Safari: hide scrollbar initially */
.scroll-hover::-webkit-scrollbar {
  width: 2px;
}
.scroll-hover::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scroll-hover::-webkit-scrollbar-track {
  background: transparent;
}

/* On hover: show scrollbar */
.scroll-hover:hover {
  scrollbar-width: thin; /* Firefox: show scrollbar */
  scrollbar-color: green transparent;
}

.scroll-hover:hover::-webkit-scrollbar-thumb {
  background-color: green;
}

.shadow {
  box-shadow: 0 0 10px #d3d3d3;
}

.border-light {
  border: 1px solid lightgrey;
}

.signup-bg {
  background: #ffd500;
  background: linear-gradient(180deg, #f8ff00 0%, #3ad59f 100%);
}

.btn-bg {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.nav-icon {
  filter: brightness(0) invert(1);
}

.page {
  height: calc(100vh - 82px);
}

.upload-box-gradient {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}

@keyframes fingerTap {
  0%,
  100% {
    height: 40px;
  }

  20% {
    height: 0px;
  }

  40% {
    height: 40px;
  }
}

.loader-eye-1,
.loader-eye-2 {
  animation-name: fingerTap;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.loader-eye-1 {
  animation-delay: 1s;
}

.loader-eye-2 {
  animation-delay: 1.1s;
}

.audio-seek {
  -webkit-appearance: none;
  width: 100%;
  height: 10px; /* h-2 */
  border-radius: 9999px; /* rounded-full */
  /* background: linear-gradient(to right, #fb923c 50%, #e5e7eb 50%); */
  outline: none;
  cursor: pointer;
}

.audio-seek::-moz-range-progress {
  background-color: #fb923c; /* Tailwind orange-400 */
  height: 10px;
  border-radius: 9999px;
}

.audio-seek::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: greenyellow; /* Tailwind blue-500 */
  box-shadow: 0 0 10px darkgray;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  margin-top: -6px; /* Adjust based on track height */
}

.audio-seek::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: greenyellow;
  box-shadow: 0 0 10px darkgray;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.audio-seek::-webkit-slider-runnable-track {
  height: 5px;
  accent-color: #fb923c; /* Tailwind gray-200 */
  border-radius: 9999px;
}

.audio-seek::-moz-range-track {
  height: 5px;
  accent-color: #fb923c;
  border-radius: 9999px;
}

@media (max-width: 768px) {
  .scroll-w-fix {
    width: calc(100vw - 16px);
  }
}

.sortable-ghost {
  opacity: 0.5;
  background-color: #f0f0f0;
  border-radius: 8px;
  transform: scale(0.98);
  transition: all 0.2s ease;
}

.drag-con,
.drag-con * {
  transition: all 0.3s ease;
}

.pattern {
  background-image: radial-gradient(lightgray 1px, transparent 0);
  background-size: 40px 40px;
}
